@import "compass/css3";
@import "susy";
@import "breakpoint";

$xlarge-fixed: 960px;
$xlarge-bp: $xlarge-fixed / 0.8;
$large-bp: 720px;
$small-bp: 550px;

$nav-dark: #245;
$nav-light: #8af;
$nav-border: #333;
$header-color: #368;

$header-x: image-width('header.png');
$header-y: image-height('header.png');

$small-shadow: 0 1px 4px -1px black;

/* Reset */

@import 'compass/reset/utilities';

* {
  @include reset-box-model;
}

img {
  display: block;
}

/* Paragraph spacing */

p, ul, ol, table, h1, h2, h3, h4, h5, h6 {
  margin: 1em 0;
}

ul, ol {
  padding-left: 2em;
}

body {
  line-height: 1.4;
}

/* Font and Color */

body {
  font-family: 'Lora',serif;
  font-weight: 400;
  background-color: #245;
  color: #333;
}

a {
  color: adjust-saturation($nav-dark, 50%);
}

#main {
  background-color:#fff;
}

.header {
  background-color:$header-color;
  @include background-image(linear-gradient(tint($header-color, 15%), shade($header-color, 15%)));
  @include box-shadow(black 0 -8px 8px 8px);
}

.header p {
  color:#fff;
  @include text-shadow(rgba(black, 0.6) 0 0 5px);
}

#nav {
  font-family: 'Open Sans',sans-serif;
}

#nav a {
  border-color: $nav-border;
  border-style: solid;
  @include box-shadow(white 0 0 1px inset, $small-shadow);
}

#nav a:link, #nav a:visited {
  color: #fff;
  background-color: $nav-dark;
  @include background-image(linear-gradient(tint($nav-dark, 15%), $nav-dark));
}

#nav a:hover, #nav a:active, #nav a.nav-active {
  color: #000;
  background-color: $nav-light;
  @include background-image(linear-gradient(tint($nav-light, 50%), $nav-light));
}

#footer {
  font-size: 0.8em;
  text-align: center;
  color: #666;
  background-color: #ccc;
  @include box-shadow(rgba(black, 0.8) 0 5px 5px -5px inset);
}

#footer a {
  color: #666;
}

h1 {
  font-weight: 400;
  font-size: 1.6em;
  text-align: center;
}

h2 {
  font-weight: 400;
  font-size: 1.4em;
  text-align: center;
}

h3 {
  font-weight: 400;
  font-size: 1.2em;
  text-decoration: underline;
  text-align: left;
}

.rank {
  font-weight: 700;
  padding-right: 2em;
}

.small {
  font-size: 0.8em;
}

td {
  padding-right: 1em;
}

.announcements {
  color: white;
  background-color: $nav-dark;
  @include border-radius(8px);
  @include box-shadow($small-shadow);
  @include background-image(linear-gradient(tint($nav-dark, 15%), $nav-dark));
}

.announcements a {
  color: white;
}

/* Reusable Elements */

.thumbnail-container {
  text-align: center;
}

.thumbnail {
  display: inline-block;
  font-size: .8em;
  text-align: center;
  width: 198px;
  height: 198px;
  padding: 0;
  margin: 4px;
}

.thumbnail img {
  display: block;
  border: 3px solid white;
  @include border-radius(7px);
  @include box-shadow($small-shadow);
}

.photo-title {
  margin: 2px 0 0 0;
  border: 1px solid #999;
  padding: 2px;
}

.video {
  margin-bottom: 1em;
  overflow: hidden;
}

.video-thumb {
  float: left;
  margin: 3px 1em 5px 3px;
  @include box-shadow($small-shadow);
}

/* Structure */

@include with-layout(2 1/8 inside) {

  .feature-container {
    @include container(100%);
  }

  .feature {
    @include span(full);
  }

}

.feature img {
  width: 100%;
  @include border-radius(8px);
  @include box-shadow($small-shadow);
}

.feature p {
  margin: 4px 0;
}

@include layout(4 1 inside);

#main {
  @include container(100%);
  overflow: hidden;
}

.header {
  @include span(full no-gutter);
}

.header-img {
  @include span(full);
  background-image:url('/images/header.png');
  background-size: $header-x/2 $header-y/2;
  background-repeat:no-repeat;
  height: $header-y/2;
}

.header p {
  line-height: $header-y/2;
  margin: 0;
  text-align:right;
  font-size:28px;
}

@include with-layout(1 1 inside) {
  #nav {
    @include span(full);
    font-size: 0.8em;
    margin-top: 1em;
    margin-bottom: 1em;
  }
}

#nav a {
  display: block;
  text-align: center;
  padding: .2em;
  border-width: 1px;
  text-decoration: none;
  margin-bottom: -1px;
}

#content {
  @include span(full);
}

#footer {
  @include span(full);
  padding-top: 0.33em;
  padding-bottom: 0.33em;
}

.map {
  display: block;
  margin: 1em auto;
  width: 280px;
  height: 280px;
  @include box-shadow($small-shadow);
}

/* Breakpoints */

@include breakpoint($small-bp) {

  @include with-layout(2 1/8 inside) {
    .feature {
      @include span(1);
    }
  }

  @include layout(5 1/4 inside);

  #nav {
    @include span(1);
  }

  #content {
    @include span(4);
  }

  .map {
    width: 380px;
    height: 380px;
  }

}

@include breakpoint($large-bp) {

  #main {
    @include container(80%);
    @include box-shadow(rgba(black, 0.5) 0 0 30px);
  }

  .header-img {
    background-size: $header-x $header-y;
    height: $header-y;
  }

  .header p {
    line-height: $header-y;
    font-size: 40px;
  }

  .map {
    width: 400px;
    height: 300px;
  }

}

@include breakpoint($xlarge-bp) {

  #main {
    @include container($xlarge-fixed);
  }

  .map {
    width: 720px;
    height: 480px;
  }

}
