@import "compass/css3/border-radius";
@import "susy";
@import "breakpoint";

$xlarge-fixed: 960px;
$xlarge-bp: $xlarge-fixed / 0.8;
$large-bp: 720px;
$small-bp: 550px;

$header-x: image-width('header.png');
$header-y: image-height('header.png');

@include layout(4 1 inside);

body {
font-family: 'Lora',serif;
font-weight: 400;
background-color: #245;
margin:0;
padding:0;
}

#main {
@include container(100%);
background-color:#fff;
border-width: 0 1px 1px 1px;
border-color: #333;
border-style: solid;
margin-top:0;
}

#header {
@include span(full);
background-color:#368;
background-image:url('/images/header.png');
background-size: $header-x/2 $header-y/2;
background-repeat:no-repeat;
height: $header-y/2;
}

#header p {
line-height: $header-y/2;
margin:0;
padding:0;
text-align:right;
font-size:28px;
color:#fff;
}

#nav {
@include span(full);
font-size: 0.8em;
}

#nav a {
display: block;
width: auto;
text-align: center;
font-family: 'Open Sans',sans;
padding: .2em;
margin: 8px;
border: 1px solid #333;
text-decoration: none;
/* @include border-radius(5px); */
}

#nav a:link, #nav a:visited {
  color: #fff;
  background-color: #245; }

#nav a:hover, #nav a:active, #nav a.nav-active {
  color: #000;
  background-color: #8af; }

#content {
@include span(full);
}

#footer {
@include span(full);
font-size: 0.8em;
text-align: center;
color: #666;
background-color: #ccc;
}

.map {
display: block;
margin: 1em auto;
border: 1px solid #333;
width: 280px;
height: 280px;
}

@include breakpoint($small-bp) {

#main {
@include container(80%);
}

.map {
width: 380px;
height: 380px;
}

}

@include breakpoint($large-bp) {

@include layout(5 1/8 inside);

#header {
background-size: $header-x $header-y;
height: $header-y;
}

#header p {
line-height: $header-y;
font-size: 40px;
}

#nav {
@include span(1);
}

#content {
@include span(4);
}

.map {
width: 400px;
height: 300px;
}

}

@include breakpoint($xlarge-bp) {

#main {
@include container($xlarge-fixed);
}

.map {
width: 720px;
height: 480px;
}

}

h1 {
font-weight: 400;
font-size: 1.6em;
text-align: center;
}

h2 {
font-weight: 400;
font-size: 1.3em;
text-align: center;
}

.rank {
font-weight: 700;
padding-right: 2em;
}

.thumbnail {
float: left;
font-size: .8em;
text-align: center;
width: 192px;
height: 192px;
padding: 0;
border: 0;
margin: 4px;
}

.thumbnail img {
display: block;
border: 1px solid #999;
}

.photo-title {
margin: 2px 0 0 0;
border: 1px solid #999;
padding: 2px;
}
