---
layout: full-width
title: Photos
js:
  - 'https://cdnjs.cloudflare.com/ajax/libs/es6-promise/4.1.1/es6-promise.auto.min.js'
  - 'https://cdnjs.cloudflare.com/ajax/libs/fetch/2.0.3/fetch.min.js'
  - 'https://unpkg.com/hammerjs@2.0.8/hammer.min.js'
  - /js/photos.js
---
<div v-cloak id="photos">
  <div class="photo" v-for="(image, index) in images">
    <img
      :src="image.thumbs[128].url"
      :alt="image.title"
      @click="showModal(index)"
      :width="image.thumbs[128].size.width"
      :height="image.thumbs[128].size.height"
      :style="gradientBackground(index)"
    >
  </div>
  <div class="modal" v-if="modalVisible" :style="{backgroundImage: 'url(' + images[modalIndex].url + ')'}">
    <button class="modal-left" @click="prevImage">&lsaquo;</button>
    <button class="modal-close" @click="closeModal">&times;</button>
    <button class="modal-right" @click="nextImage">&rsaquo;</button>
  </div>
</div>
