@import "compass/css3";
@import "susy";

$header-height: 1.2in;

html {
  width: 7.5in;
  height: 10in;
}

body {
  font-family: 'Lora';
  font-weight: 400;
  font-size: 12pt;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 700;
}

h1 {
  font-size: 1.3em;
}

h2 {
  font-size: 1.2em;
}

h3 {
  font-size: 1.1em;
}

@include layout(12 1 inside);

.container {
  @include container(100%);
  height: 10in;
}

.date {
  @include span(4);
  text-align: center;
}

.header {
  @include span(8);
  text-align: center;
  font-size: 2.5em;
}

.subtitle {
  font-size: 10pt;
}

.left {
  @include span(4);
  font-size: 0.9em;
}

.main {
  @include span(8);
  margin-bottom: 1em;
}

#logo {
  width: 0.6in;
  height: 0.6in;
  margin: 0 auto;
  display: block;
}
