<form action="https://signup.djones.co/submit/SEcKQE0a6cKBfVdKlgDV9dssRNvP8ClF?next=https%3A%2F%2Fwww.bsrcc.com%2Fevents%2Fthankyou&email=gAAAAABYSHHKc9UAJezu4o2Azbt0mlQdMgt3EeoKiHJfxzh8LQ_9lqJvhyg_qmwR7Ifv6RNZz7G-3aLEeBTeY_3fe-JzYTOLi1dJzaNpCLmhbz3svZ6zJxJj9PEQpQK3_UIHrwg2STtP_zoaxDMElsE4Bv75khNCl1dP_p__6JS9j0h-iv-fDSo=" method="post">
  <div class="input-group">
    <label for="signup-name">Name</label>
    <input id="signup-name" type="text" name="name" autofocus>
  </div>
  <div class="input-group">
    <label for="signup-email">Email</label>
    <input id="signup-email" type="email" name="email">
  </div>
  <button type="submit">Sign me up!</button>
</form>
