<form action="https://signup.djones.co/submit/SEcKQE0a6cKBfVdKlgDV9dssRNvP8ClF?next=https%3A%2F%2Fwww.bsrcc.com%2Fevents%2Fthankyou&email=.eJwVzMuOgjAYQOF36doawEmKrqZiBpUgFS2KMTG0FOQu-A8Rje8-41l-i_NCqoqyEs3QGUHTwaNJvtOPjGVTndE4u7uHwEgXfoIF31BdM6GOBLdgzdEI3ZXsFFwKNfwPUvppHu4sR9hBzcLfI7X16SroN3rQm8dtkRt71cdLWM9_aCs1BRXxT1Zl4B3chtDOt4zwr0m2GJJCSDfyrBoI9UE4Dr96rOs7KElMvJvguCR5vWf4QXLMuGpd2Vx1etCexDadFmL0_gOuHEg-._iy_pSSmu3YNTQCsgDb1Xkbex1s" method="post">
  <div class="input-group">
    <label for="signup-name">Name</label>
    <input id="signup-name" type="text" name="name" autofocus>
    <label for="signup-email">Email</label>
    <input id="signup-email" type="email" name="email">
    <button type="submit">Sign me up!</button>
  </div>
</form>
