<p itemprop="address" itemscope itemtype="http://schema.org/PostalAddress">
  <a href="http://goo.gl/maps/Jj5Si">
    <span itemprop="streetAddress">802 Lockaby Road</span>,
    <span itemprop="addressLocality">Pendleton</span>,
    <span itemprop="addressRegion">SC</span>
    <span itemprop="postalCode">29670</span>
  </a>
</p>
<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d52497.678425688675!2d-82.60182487084319!3d34.677301822791044!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x885841a8e418ccd9%3A0xdc0d3308d37f6e33!2s802+Lockaby+Rd%2C+Pendleton%2C+SC+29670!5e0!3m2!1sen!2sus!4v1389846049115" class="map"></iframe>
