<div class="feature-container">
  <div class="feature">
    <a href="http://flitetest.com/articles/fx79-let-s-fly" target="_blank"><img src="/images/flite-test-2014.jpg" alt="Flite Test visits BSRCC"></a>
    <p class="small"><a href="http://flitetest.com/articles/fx79-let-s-fly" target="_blank">Click here for pics and video of Flite Test at the BSRCC field.</a></p>
  </div>
  <div class="feature announcements">
    <h2>Announcements</h2>
    <ul>
      {% for item in site.data.announcements %}
      <li>{% if item.link %}<a href="{{ item.link }}">{{ item.text }}</a>{% else %}{{ item.text }}{% endif %}</li>
      {% endfor %}
    </ul>
  </div>
</div>
