body > header
  background-image: linear-gradient(rgba($blue, 0.3), rgba($blue, 0.3)), url(https://s3.amazonaws.com/djones-imghost/YhWr7MrT/2012-06-09.11-56-33.aef6c1c3.jpg)
  background-position: 60% 40%
  background-repeat: no-repeat
  background-size: cover
  color: white
  display: flex
  align-items: flex-end
  height: 6em
  @media (min-width: $small_bp)
    height: 12em
  .title
    margin: 0 0 .8em 1em
    font-size: 1.4em
    @media (min-width: $small_bp)
      margin: 0 0 1em 2em
      font-size: 2.5em
