#nav > div
  display: flex
  flex-direction: column
  justify-content: center
  position: fixed
  top: 0
  bottom: 0
  left: 0
  right: 0
  background-color: white
  ul
    padding: 0
    margin: 0
    list-style-type: none
  li
    background-color: black
    margin: 1px
    padding: .2em
  a
    font-family: 'Open Sans', sans-serif
    display: block
    color: white
    text-decoration: none

#nav-expand
  position: fixed
  right: 0
  top: 0
  border: 0
  padding: 1em
  background-color: rgba(white, 0.8)
