<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="css/style.css">
  <title>Black Sheep News</title>
</head>
<body>
  <div class="container">
    <div class="date"><img src="icon.svg" id="logo" alt="">{date}</div>
    <div class="header">
      Black Sheep News<br>
      <span class="subtitle">Black Sheep RC Club - AMA Charter #2068</span>
    </div>
    <div class="left">
      <h2>Information</h2>
      <p>Club meetings are held on the first Saturday of each month at 1 PM.</p>
      <p>Next meeting is {next_meeting}.</p>
      <p>Only 2.4GHz transmitters are allowed at BSRCC.</p>
      <h2>Officers</h2>
      {{#officers}}
      <p>
        {{rank}}:<br>
        {{name}}<br>
        {{phone}}<br>
        <a href="mailto:{{email}}">{{email}}</a>
      </p>
      {{/officers}}
    </div>
    <div class="main">
      {content}
    </div>
  </div>
</body>
</html>
