<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <link href='http://fonts.googleapis.com/css?family=Lora:400,700' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="css/style.css">
  <title>Black Sheep News</title>
</head>
<body>
  <div class="container">
    <div class="date"><img src="../assets/icon.svg" id="logo" alt="">{date}</div>
    <div class="header">
      Black Sheep News<br />
      <span class="subtitle">Black Sheep RC Club - AMA Charter #2068</span>
    </div>
    <div class="left">
      <h2>Information</h2>
      <p>Club meetings are held on the 1st Tuesday of each month at 6:30 PM.</p>
      <p>Next meeting is {next_meeting}.</p>
      <h2>Officers</h2>
      {{#officers}}
      <p>
        {{rank}}:<br />
        {{name}}<br />
        {{phone}}
      </p>
      {{/officers}}
    </div>
    <div class="main">
      {content}
    </div>
    <div class="footer">www.bsrcc.com</div>
  </div>
</body>
</html>
