<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <link href='http://fonts.googleapis.com/css?family=Lora' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="css/style.css">
  <title>Black Sheep News</title>
</head>
<body>
  <div class="container">
    <div class="date">{date}</div>
    <div class="header">Black Sheep News</div>
    <div class="left">
      <h2>Information</h2>
      <p>Club meetings are held on the 1<sup>st</sup> Tuesday of each month at 6:30 PM.</p>
      <h2>Officers</h2>
      {{#officers}}
      <p>
        {{rank}}:<br />
        {{name}}<br />
        {{phone}}
      </p>
      {{/officers}}
    </div>
    <div class="main">
      {content}
    </div>
    <div class="footer">blacksheeprcclub.com</div>
  </div>
</body>
</html>
