<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="author" content="Daniel Jones http://djones.co/">
  <meta name="keywords" content="">
  <meta name="description" content="{{ site.description }}">
  <meta name="google-site-verification" content="1rYMrwc1wiV45-0JEcoTZHtt8RQOMsvIKNVM_BKzJuc">
  <meta name="google-site-verification" content="MO7QGduksSDps7XAWozkBe474kuqKPYQ1W0pEMr0cEM">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="canonical" href="{{ site.url }}{{ page.url | replace:'index.html',''}}">
  <link href="//fonts.googleapis.com/css?family=Open+Sans|Lora:400,700" rel="stylesheet" type="text/css">
  <link href="/css/main.css" rel="stylesheet" type="text/css">
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
  <link rel="alternate" type="application/rss+xml" title="{{ site.name }}" href="/feed.xml">
  <link rel="icon" type="image/png" href="/images/icon.png">
  <title>{{ site.name }}</title>
</head>
<body>

  <div id="main" itemscope itemtype="http://schema.org/Organization">

    <div class="header"><div class="header-img"><p itemprop="name">{{ site.name }}</p></div></div>

    <nav id="nav" role="navigation">
      <div v-if="!small_screen || visible">
        {% include nav.html %}
      </div>
      <button id="nav-expand" v-if="small_screen" v-on:click="toggle"><i :class="['fa','fa-2x', visible?'fa-times':'fa-bars']"></i></button>
    </nav><!-- end nav -->

    <div id="content">
      <h1>{{ page.title }}</h1>
      {{ content }}
    </div><!-- end content -->

    <div id="footer">
      {% include footer.html %}
    </div><!-- end footer -->

  </div><!-- end main -->

  <script src="https://unpkg.com/vue@2.3.4" charset="utf-8"></script>
  <script src="/js/site.js"></script>
  {% if page.js %}
  {% for js_file in page.js %}
    <script src="{{js_file}}"></script>
  {% endfor %}
  {% endif %}

</body>
</html>
